header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoCaptain {
    width: 100px;
}

li{
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}
